@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}


@theme {
  --default-font-family: "Inter", sans-serif;
}

.remote-cursor-label {
  position: absolute;
  display: inline-block;
  background-color: rgba(147, 197, 253, 0.9);
  color: black;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
}

.remote-cursor-label::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgba(147, 197, 253, 0.9);
}
